@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;   
}

a {
    color: #FFF !important;
    text-decoration: none;
    width: 100%;
    font-family: roboto, sans-serif !important;
}

body {
	background-color: #E5E6F0 !important;
	background-image: linear-gradient(to right, #3a539b, #4b77be);
    -webkit-font-smoothing: antialiased;
}

body, input, a, label{
    font-family: roboto, sans-serif !important;
}

input {
	padding: 5px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	width: 100%;
	text-transform: uppercase;
}

.input-time {
	height: 60px;
	text-transform: uppercase;
	border-radius: 10px;
	text-align: center;
	width: 50px;
}

.label-time {
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Baloo Paaji 2', cursive;
	color: #2e3131;
	margin-left: 0.45rem !important;
}

.box-countdown{
	display: flex;
	flex-direction: row;
	align-items: center !important;
	background-color: transparent;
	
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 400px;
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px 20px;
}

.hidden { 
    display:none; 
}

.box strong {
    font-size: 20px;
    text-align: center;
    display: block;
	color: #333;
	margin-bottom: 1rem; 
}

